body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{
    font-size: 36px;
}

h2{
    font-size: 32px;
}
    

h3{
    font-size: 28px;
}

h4{
    font-size: 24px;
}

p{
    font-size: 20px;
}

#heading_custom{
    text-align: center;
}